
BODY {
  font-face: Verdana, Georgia;
}

#f1 {
  font-size: 1em;
  width: 200px;
  border: 2px gray solid;
}

#f2 { 
  font-size: 2em;
  border: 1px gray dashed;
  color: blue;
  width: 200px;
  font-face: Verdana, Georgia;
}

#f3 {
  font-size: 3em;
  border: 1px gray solid;
  width: 200px;
}
